* {
	font-family: roboto,arial, sans-serif;
  font-variant: normal;
}
*:not(.content-box a) {
	color: #fff;
}
body,
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}
body {
	background-color: #fff;
	margin: 7rem 2rem 0rem 2rem;
	position: relative;
}
p {
	white-space: pre-wrap;
}
.content-box {
	box-shadow: .3rem .3rem .8rem #111;
	display: inline-block;
	width: 80%;
	background-color: #fff;
	padding: 30px 40px;
	margin: 2rem 10px;
	transform: translate(-50%, 0%);
	margin-left: 50%;
}
.tool-area {
	border: solid #000;
	display: inline-block;
	padding: 1rem;
}
@media only screen and (max-width:480px) {
	body {
		margin-left: 0;
		margin-right: 0 !important;
		padding: 0 !important
	}
	.content-box {
		max-width: 100% !important;
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		transform: initial !important
	};
}
.navTopBar {
	padding: 20px 30px;
	z-index: 50;
	position: fixed;
	display: inline-block;
	background-color: #222;
	height: 4rem;
	width: 100%;
	top: 0;
	left: 0;
}
.navTopBar .siteSelector {
	position: relative;
	top: -65px;
	margin-left: 50px;
	display: block;
	list-style: none;
	white-space: nowrap;
}
.navTopBar .siteSelector * {
	border-bottom: 0 solid blue;
	text-decoration: none;
	font-size: 1.5rem;
	margin-left: 20px;
	float: left;
}
.navTopBar .siteSelector * a:hover {
	padding-left: 0;
	color: #555;
}
.navTopBar #responsiveToggle {
	display: none;
	text-decoration: none;
}
@media screen and (max-width:740px) {
	.navTopBar .siteSelector {
		margin-top: 0;
		top: 0;
		transition: max-height .3s ease;
		overflow: hidden
	}
	.navTopBar.openedNav {
		height: 300px
	}
	/*.navTopBar:hover {
		height: 300px
	}*/
	.navTopBar .siteSelector * {
		float: none;
		padding-top: 20px;
		margin-left: initial
	}
	.navTopBar #responsiveToggle {
		font-size: 2em;
		display: block;
		float: right;
		padding-right: 20px
	}
	.navTopBar input#responsiveToggle {
		margin: 2rem;
		scale: 3
	}
	.navTopBar {
		padding: 20px 10px;
		transition: height 100ms ease;
		overflow: hidden;
		height: 50px
	}
	.navTopBar a img {
		width: 50px
	};
}
.navTopBar .nav-home-logo {
	width: 70px;
	height:70px;
}
footer {
	width: 17rem;
	padding: 15px;
	margin: 0 auto;
	margin-top: 7rem;
	border-radius: 10px;
	border: 1px solid #fff;
	text-align: center;
	overflow: hidden;
}
.footer-designed-2-last {
	text-align: center;
	margin-top: 6rem;
}



@media print {
	.blocker, .abm-container {
		display: none;
	}
	.content-box {
		width: 100%
	}
	.navTopBar {
		display: none
	}
	footer {
		display: none
	}
	* {
		color: #000 !important;
		box-shadow: none !important
	}
	body {
		margin: 1rem;
		background-color: #000
	};
}
.abm-container {
	margin: 0;
	position: absolute;
	width: 70%;
	left: 50%;
	top: 50%;
	z-index: 90;
	transform: translate(-50%, -50%);
	border: solid;
	padding: 30px;
	background-color: #FFF;
	box-shadow: 0 0 20px #111, 20px 15px 0 #333;
}
.abm-container a {
	font-weight:bolder;
	font-size:29px;
	text-decoration:none;
	color:#FFF;
	margin:-10px;
}
.abm-container .abm-title {
	font-size: 2em;
	font-weight: 900;
	margin-left: 1em;
	text-decoration: underline;
}
.abm-container .abm-text {
	margin-top: 2em;
	display:block;
	white-space: pre-wrap;
}

.blocker {
	background: rgba(0, 0, 0, .6);
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.beta-only {
	display: none;
}
input:is([type=button], [type=submit],	[type=reset]):disabled,
input[type=file]:disabled::file-selector-button,
button:disabled,
select:disabled,
optgroup:disabled,
option:disabled,
select[disabled]>option {
	cursor: not-allowed;
}
*:not(.content-box a) {
	color: #000;
}
footer {
	border: 1px solid #000;
}
.navTopBar {
	background: #fff !important;
	border-bottom: #000 solid;
}
input:is([type=button], [type=submit], [type=reset]):disabled,
input[type=file]:disabled::file-selector-button,
button:disabled,
select:disabled,
optgroup:disabled,
option:disabled,
select[disabled]>option {
	color: #ddd !important;
	background: #bbb;
}
#color-mode-toggle {
	font-size: 2em;
	display: block;
	float: right;
	padding-right: 20px;
}
#color-mode-toggle .fa-sun {
	display: none;
}
a {
  color: #111;
}
@media(prefers-color-scheme:dark) {
	a {
		color: #FFF;
	}
	.abm-container {
		background-color: #555;
	}
	.navTopBar .siteSelector * a:hover {
		color: #fff;
		text-shadow: .1rem .1rem .5rem #000;
	}
	table {
		border-collapse: collapse;
	}
	input:is([type=button],[type=submit],[type=reset]):disabled,
	input[type=file]:disabled::file-selector-button,
	button:disabled,
	select:disabled,
	optgroup:disabled,
	option:disabled,
	select[disabled]>option {
		color: #333 !important;
		font-style: oblique;
		background: #555;
		cursor: not-allowed;
	}
	input,
	textarea,
	button,
	select {
		background-color: #111;
		border-color: #fff;
		color: #fff !important;
	}
	#color-mode-toggle .fa-sun {
		display: inherit;
	}
	#color-mode-toggle .fa-moon {
		display: none;
	}
	*:not(.content-box a) {
		color: #cdcdcd;
	}
	footer {
		border: 1px solid #fff;
	}
	.navTopBar {
		background: #222 !important;
	}
	.content-box {
		background-color: #222;
		box-shadow: 1rem .6rem 1rem #111;
	}
	input,
	textarea,
	button,
	select {
		background-color: #111;
		border-color: #fff;
		color: #fff !important;
	}
	body {
		background-color: #000;
	}
	input:is([type=button],[type=submit],[type=reset]):disabled,
	input[type=file]:disabled::file-selector-button,
	input:disabled,
	button:disabled,
	select:disabled,
	optgroup:disabled,
	option:disabled,
	select[disabled]>option {
		color: #333 !important;
		font-style: oblique;
		background: #555;
	}
}
.email-info-mt, .email-info-logo-mp, .main-content-mp-master {
  display: none;
}
.note-text {
  display: inline;
  font-style: italic;
  font-size: smaller;
  vertical-align: sub;
}
/**
 * Nocookie redirect
 * */
.nc-notice-container {
	position: fixed;
	top: 0;
	z-index: 99;
	background: black;
	left: 0;
	width: 100%;
	height: 100%;
}
.nc-notice-container .nc-notice {
	padding: 4rem;
}
.nc-notice .nc-header {
	font-size: 4rem;
	margin-top: 0;
	text-decoration: underline;
	font-weight: bold;
}

.nc-notice .nc-paragraph {
	font-size: 2rem;
}
/**
 * General CSS
**/

.no-td {
	text-decoration: none;
}
